"AppData/Local/Comms/UnistoreDB/USS.jtx" 
"AppData/Lodal/Comms/UnistoreDB/USS.jts" 
"PrintHood/"  echo "Recent/"  echo "SendTo/"  echo "Templates/"  echo "スタート メニュー/"  echo "AppData/"  echo ".vscode/"  echo "*.log"  echo "*.dat"  echo "*.ini"
